$primary-color: rgba(255, 255, 255, 0.87);
$grey-color:rgb(88, 87, 87);
$success-color: rgb(57, 188, 5);
$danger-color: rgb(219, 2, 2);

$primary-background-color:#161616;
$secondary-background-color: #292929d9;
$lightgrey-background-color:rgba(100, 100, 100, 0.87);