@use "mixins.scss";
@import "fonts.scss";
@import "colors.scss";

body{
    width: 100vw;
    height: 100vh;
    font-family: $primary-font;
}

.game-heading{
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo{
      height: 2em;
      padding-left: 10px;
    }
}

.container{
  margin: auto;
  width: 70vw;
  padding: 10px;
  background-color: $secondary-background-color;
  box-shadow: 0px 0px 12px 2px black;
  font-size: 1em;

  &__nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;  
  }

  &__help-button{
    @include mixins.default-button;
    border-radius: 50%;
    font-family: $primary-font;     
    font-size: 1em;
  }

  &__display-box{
    text-align: center;
    font-size: 1em;
    font-family: $primary-font;
    width: 20vw;
    box-shadow: inset 0px 0px rgba(0,0,0,0.8);
  }
  
  &__restart-button{
    @include mixins.default-button;
    font-size: large;
  }

  &__game-grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 5px;
  }
  
  &__cell{
    height: 20px;
    @include mixins.default-button;
  }

  &__result{
    display: none;
    position: absolute;
    top: 40%;
    background-color: black;
    width: 100vw;
    left: 0;
    text-align: center;
    height: 10%;
    color: red;
    align-content: center;



  }

  &__result:active{
    animation: fade-in 1s;
  }

}

#level{
  font-family: $primary-font;
}